<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="border: 1px solid black; margin: 30px auto; width: 500px;padding: 30px;">
      <p style=>Name: <%= appointment.user.name %></p>
      <p style=>Email: <%= appointment.user.email %></p>
      <p style=>Doctor: <%= appointment.doctor.name %></p>
      <p style=>Slot Time: <%= appointment.slot.startTime %></p>
      <p style=>Status: <%= appointment.status %></p>

    </div>
  </body>
</html>
